<h1><%=@user_job.job.name%></h1>
<ul>
    <li>Salary: <%=@user_job.job.salary%></li>
    <li>Industry: <%=@user_job.job.industry.name%></li>
</ul>
<br>
<form action="/jobs/<%=@user_job.id%>/delete" method="post">
    <input type="submit" value="Delete Job"></input>
</form>
<br>
<a href="/jobs/<%=@user_job.id%>/edit">Update Job</a>
<br>
<a href="/jobs/new"%>Add new job</a>

<br>