<h1>Welcome, <%= @user.name %>!</h1>

<h4>JOBS</h4>
<table border="1" style="text-align: left;">
    <tr>
        <th>NAME</th>
        <th>SALARY</th>
        <th>INDUSTRY</th>
    </tr>
    <% @user.jobs.each do |job| %>
        <tr>
            <td><%=job.name%></td>
            <td><%=job.salary%></td>
            <td><%=job.industry.name%></td>
        </tr>    
    <% end %>
    
</table>

<h4>ACCOUNTS</h4>
<table border="1" style="text-align: left;">
    <th>NAME</th>
    <th>BALANCE</th>
    <th>DUE DATE</th>
    <th>INTEREST</th>
    <% @user.accounts.each do |account| %>
        <tr>
            <td><%=account.name%></td>
            <td><%=account.balance%></td>
            <td><%=account.due_date%></td>
            <td><%=account.interest%></td>
        </tr>
    <% end %>
</table>
<br>
<a href="/users/<%=@user.id%>/update">Update Profile</a>
<br></br>