<h1><%=@account.name.capitalize%></h1>
<ul>
    <li>Balance: <%=@account.balance%></li>
    <li>Due Date: <%=@account.due_date%></li>
    <li>Interest: <%=@account.interest%></li>
</ul>

<a href="/accounts/<%=@account.id%>/edit">Update Account</a>
<br>
<br>
<form action="/accounts/<%=@account.id%>/delete" method="post">
    <input type="submit" value="Delete Account">
</form>